@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.png") left top $dark;

    .header-inner {
        @include media-breakpoint-up(xl) {
            background: imgUrl("banner.png") right top;
        }

        @include media-breakpoint-only(xl) {
            background-size: 48%;
        }

        .header-top-bar {
            padding: 51px 0;

            .btn {
                border-radius: 16.64px;
                filter: drop-shadow(0px 0px 25px #000000);
            }
        }

        .banner {
            padding: 50px 0 80px;

            @include media-breakpoint-up(md) {
                padding: 50px 0 127px;
            }

            .trusted {
                border-radius: 20.67px;
                background: rgba(179, 186, 197, 0.25);
                display: flex;
                align-items: center;
                padding: 5.17px 31px 5.17px 5.17px;
                font-size: 1.125rem;

                .button {
                    background: $primary;
                    border-radius: 100px;
                    padding: 3px 13px;
                    font-weight: 800;
                    margin-right: 11px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.775rem;
                    padding: 5.17px 11px 5.17px 5.17px;
                }
            }

            .hero-heading {
                line-height: 1.174;
                padding: 65px 0 32px;
            }

            .btn-banner {
                border-radius: 0px 18.6003px 0px 0px;
                color: $black;
                font-weight: 600;
                padding: 21px 48px;

                @include media-breakpoint-down(sm) {
                    padding: 16px;
                }
            }

            .banner-testimonial-row {
                padding-top: 60px;

                @include media-breakpoint-up(md) {
                    padding-top: 132px;
                }

                .partner-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 29px;
                    background-color: $white;

                    .description {
                        max-height: 170px;
                        overflow-y: scroll;
                        margin: 0 16px;
                        padding: 0 35.87px 0 19.87px;
                        margin-bottom: 45px;
                        line-height: 2;
                        font-size: 0.875rem;

                        @include media-breakpoint-down(lg) {
                            padding: 0 16px 0 0;
                            margin-bottom: 24px;
                        }
                    }

                    .title {
                        font-size: 0.9375rem; // 15px
                        padding: 29px 16px 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

section.brands {
    .horizontal-line {
        height: 1px;
        background: $white;
        width: 100%;
    }

    .brands-slider {
        padding-top: 46px;

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

section.about {
    padding: 80px 0;

    @include media-breakpoint-up(lg) {
        padding: 145px 0 80px;
    }

    @include media-breakpoint-up(xl) {
        padding: 145px 0;
    }

    .about-img {
        @include media-breakpoint-up(xl) {
            border-radius: 0px 71.6869px 0px 0px;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .about-content {
        padding-right: 20px;

        @include media-breakpoint-down(xl) {
            padding: 0 24px;
        }

        @include media-breakpoint-down(lg) {
            padding: 48px 24px;
        }

        @include media-breakpoint-down(sm) {
            padding: 24px 16px;
        }

        .description {
            line-height: 2;
            padding: 35px 0;
        }
    }

    .btn-about {
        padding: 21px 48px;
        color: $black;
        font-weight: 600;
        border-radius: 0px 18.6003px 0px 0px;

        @include media-breakpoint-down(sm) {
            padding: 16px;
        }
    }
}

section.service {
    padding: 34px 0;
    background: imgUrl("service.png") right 35%;

    .service-card {
        background-color: $white;
        border-radius: 0 0 20px 20px;
        margin: 16px 0;

        @include media-breakpoint-up(md) {
            margin: 37.775px 0;
        }

        .title {
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #e4e4e4;
            color: $black;
            font-weight: 800;
            text-align: center;
            font-size: 1.4375rem; // 23px
            padding: 8px 16px;

            @include media-breakpoint-down(lg) {
                font-size: 1.125rem;
            }

            @include media-breakpoint-down(sm) {
                min-height: 66px;
                font-size: 1rem;
            }
        }

        .border-right {
            border-right: 1px solid #e4e4e4;
        }
    }

    .cta-wrapper {
        padding: 64px 0;

        @include media-breakpoint-up(lg) {
            padding: 80px 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 160.455px 0 140.23px;
        }

        .cta-card {
            background: linear-gradient(180deg, #171717 0%, #000000 100%);
            border-radius: 2px;
            color: $white;
            min-height: 190px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            line-height: 1;
            padding: 16px 31px;
            transition: all 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                background: $primary;
                color: $black;
                transition: all 0.4s ease-in-out;
                transform: translateY(-1rem);
            }
        }
    }
}

section.form {
    background: imgUrl("form.jpg");
    background-size: cover;
    padding: 80px 0;

    @include media-breakpoint-up(lg) {
        padding: 164px 0;
    }

    .form-wrapper {
        background-color: $white;
        box-shadow: 0px 24px 35px rgba(0, 0, 0, 0.4);
        padding: 40px 24px;

        @include media-breakpoint-up(lg) {
            padding: 40px 67px 64px;
        }

        form {
            label {
                font-size: 1.125rem; // 18px
                font-weight: 700;
                color: $black;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            input,
            select {
                min-height: 65px;
                font-size: 14px;
                color: $black;
                padding: 6px 30px;
                font-weight: 500;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder,
                option {
                    opacity: 0.6;
                }

                @include media-breakpoint-down(sm) {
                    min-height: 50px;
                }
            }

            .btn {
                min-height: 61px;

                @include media-breakpoint-down(sm) {
                    min-height: 50px;
                }
            }
        }
    }
}

footer {
    color: $white;
    background: $dark;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 16.27px 0;

    @include media-breakpoint-down(lg) {
        padding: 48px 0;
    }
}
