@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.png") left top $dark;

    .header-inner {
        background: imgUrl("banner.png") right top;

        .header-top-bar {
            padding: 51px 0;

            .btn {
                border-radius: 16.64px;
                filter: drop-shadow(0px 0px 25px #000000);
            }
        }

        .banner {
            .trusted {
                border-radius: 20.67px;
                background: rgba(179, 186, 197, 0.25);
                display: flex;
                align-items: center;
                padding: 5.17px 31px 5.17px 5.17px;
                font-size: 1.125rem;

                .button {
                    background: $primary;
                    border-radius: 100px;
                    padding: 3px 13px;
                    font-weight: 800;
                    margin-right: 11px;
                }
            }

            .hero-heading {
                line-height: 1.174;
                padding: 65px 0 32px;
            }

            .btn {
                border-radius: 0px 18.6003px 0px 0px;
            }
        }
    }
}

footer {
    color: $white;
    background: $dark;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 16.27px 0;
}
